{% extends "layout.html" %}
{% block body %}
	{% set text_small = ['Indicado pelo Lider','Indicado pelos participantes'] %}

	<form id="frmVotacao" action="/poll_result" method="POST" onsubmit="return validaForm(this);">
		<fieldset>
			<ul>
				{% for brother in brothers %}
				<li>
					<img src="/static/img/brother-{{ brother.id }}.jpg" alt="" width=100 height=200 />
					<p>
						<input type="radio" name='brother' value="{{ brother.id }}" class='ipt_brother' />
						<input type="hidden" name='votos' value="{{ brother.votos }}" />

						<label for='brother'>{{ brother.nome }}</label>
					</p>
					<small>{{ text_small[brother.id-1] }}</small><!--Indicado pelo Lider-->
				</li>
				{% endfor %}
			</ul>
			<p class='total'>

				<input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
			
				<!--<span>Captcha</span><input type="text" /> -->			

				<input type="submit" id="btn-votar" value="VOTAR" />
			</p>
		</fieldset>
	</form>
	<div class="footer"></div>
{% endblock %}