<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Home</title>
 	<link rel="stylesheet" type="text/css" href="/static/css/style.css" />
</head>
<body>
	<div id="main">
		<div class="header">
			<h1>Quem deve ser eliminado?</h1>
		</div>

		<div class="middle">

			<img src='/static/img/x_brother.png' alt='' class='x_brother' />

			{% block body %}{% endblock %}

		</div>
	</div>
	<!--<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>-->
	<script src="/static/js/main.min.js"></script>
</body>
</html>